.menu-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.category-description {
  /* Ocupa todo el espacio restante */
 margin-right: 200px;
 width: 60%;
 margin-left: 100px; /* Espacio entre la descripción y los botones */
 right: 50px;
 color: black; 
 height: 50px;
 margin-top: -20px;
}

.category-buttons {
 margin-top: -60px;
 display: flex;
 flex-direction: column; /* Coloca los botones en una columna */
 justify-content: flex-start; /* Alinea los botones al inicio verticalmente */
 padding: 10px; /* Espaciado interno alrededor de los botones */
 width: fit-content; /* Ajusta el ancho del contenedor al tamaño del contenido */
}

.button, .button-2 {
  background-color: #ffffff; /* Color de fondo de los botones */
  border: none; /* Elimina el borde de los botones */
  padding: 10px 20px; /* Espaciado interno dentro de los botones */
  margin-bottom: 5px; /* Espacio entre los botones */
  border-radius: 5px; /* Bordes redondeados de los botones */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 16px; /* Tamaño de la fuente de los botones */
  text-align: center; /* Centra el texto dentro del botón */
  width: 150px; /* Ancho fijo para los botones */
  transition: all 0.3s ease; /* Transición suave para los efectos */
  color: cornsilk;
  margin-left: 550px;
}


.button {
  background-color: #FF7A00;
}
.button-2 {
  background-color: #0094FF; /* Color diferente para el segundo botón */
}
.button:hover, .button-2:hover {
  transform: translateY(-5px); /* Eleva el botón */
   /* Aumenta la sombra */
}

/* Efecto al hacer clic en el botón */
.button:active, .button-2:active {
  transform: translateY(-2px); /* Reduce la elevación al hacer clic */
   /* Reduce la sombra */
}

h1 {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 250px;
}